body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

a {
    text-decoration: none;
}

.card {
    box-shadow: inset;
    border-radius: 20px;
    height: fit-content;
    background: rgb(203, 179, 214);
    background: radial-gradient(circle, rgba(203, 179, 214, 1) 19%, rgba(148, 187, 233, 1) 100%);
    padding: 20px;
    margin: 20px;
}
img{
    height: 180px;
    width: 100px;
    
}
.cancel-button{
    background-color: aliceblue;
    border-radius: 10px;
    height: fit-content;
    margin: 5px;
    text-shadow: 5px;
    color: black;
}
.card-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
