{% extends "index.html" %}

{% block buyproductfromcart %}


  


<div class="container">
    <div class="row">
        <div class="col-lg-12 d-flex " card shadow>
            {% for i in cartproduct  %}
            <img class=""   src="{{i.product.image.url}}" alt="" style="height: 50%; width: 20%;" >
            <br>
            <h4>{{i.product}}</h4>
              
            {% endfor %}

        </div>
        
    <div class="col-lg-9 card shadow mt-5 ml-2">
        <form action="" method="POST"> {% csrf_token %}
          <div class="">
            <div><label for="">address</label></div>
            <input type="text" placeholder="enter your address" name="address">
  
            <br>
  
            <div class="mt-3">
              <div><label for="">pin code</label></div>
            <input type="text" placeholder="enter you pincode" name="pincode">
            </div>
            <div class="mt-3">
              <div><label for="">quantity</label></div>
            <input type="number" placeholder="enter you pincode" name="qty" >
            </div>
  
            <div><input type="submit" value="buynow " class="mt-3 btn btn-outline-info"></div>
          </div>
        </form>
      </div>
    </div>
</div>






  
{% endblock buyproductfromcart %}