{% extends "index.html" %}


{% block buyproduct %}
  
   
      <div class="container">
        <div class="row-height row">
          <div class="col-lg-3 ">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{product.name  }}</h5>
                <p class="card-text">{{product.desc}}</p>
                <p class="card-text">{{product.price}}</p>
              </div>
            </div>
            
          </div>
          <div class="col-lg-9 ">
            <div class="card">
              <form action="" method='post' class=" form-buyproduct mt-2">{% csrf_token %}
                <input class="m-3" type="text" name="address" placeholder="address" required><br>
                <input class="m-3" type="text" name="pincode" placeholder="pincode" required><br>
                <input class="m-3" type="text" name="qty" placeholder="quantity" required><br>
                <input class="m-3" type="submit" value="submit">

               </form>
            </div>
            
          </div>
        </div>
      </div>
   
 






{% endblock buyproduct %}