{% extends "index.html" %}
{% block content %}

  

    <div class="col-sm-6 col-md-4 col-lg-12  ">
      <a href=""><div class="card"><div class="card" style="width: 100%; height: 100%; align-items: center;">
        <img src="{{data.image.url}}" class="card-img-top" alt="..." style="height: 150px; width: 200px;">
        <div class="card-body">
          <h5 class="card-title" style="width: auto;">{{data.name}}</h5>
          <p class="card-text">{{data.price}}.</p>
          <p class="card-text">{{data.desc}}.</p>
          <div><a href="{% url 'buyproduct' data.id %}"><button class="btn btn-outline-info mb-3">buy now</button></a></div>

          
          <button class="btn btn-outline-info "><a href="{% url 'cart' data.id %} " class="text-black">add to cart</a></button>
      <h6>{% include "messages.html" %}</h6>
      <div class="mt-2"> {% if authenticated %}
        
    
        <form action="" method="POST">{% csrf_token %}
          <input type="text" name="review" placeholder="post your review">
          <input type="submit" value="post">
        </form>

        
        {% endif %}
        <h5>reviews</h5>
      </div >
      <div class="mt-2">
        
    
        {% for i in obj  %} <span>
        <h6>@{{i.user}}:-
    
          {{i.review_body}}          {{i.created|timesince}} ago 
          {% if request.user == i.user %}
            

         
          
          
          <button><a href="{% url 'delet' i.id %}">delet</a></button></span>
        <br> <br>
        {% endif %}
          
        {% endfor %}
      </div>
    
    </div>
      
          
        </div>
      </div></div></a>
      
    </div>
   
  
    
    
  
{% endblock content %}

