
{% extends "index.html" %}

{% block product %}
  

{% for i in obj  %}


<div class="col-sm-6 col-md-4 col-lg-2">
  <div class="card"><div class="card" style="width: 250px; height: 250px;">
    <img src="{{i.image.url}}" class="card-img-top" alt="..." style="height: 150px; width: 200px;">
    <div class="card-body">
      <h5 class="card-title" style="width: auto;">{{i.name}}</h5>
      <p class="card-text">{{i.price}}.</p>
      
    </div>
  </div></div>
  
</div>
{% endfor %}
{% endblock product %}