{% extends "index.html" %}
{% block content %}

  
    
  
<div class="col-sm-6 col-md-4 col-lg-2 ">
    <a href=""><div class="card"><div class="card" style="width: 250px; height: 300px;">
      <img src="{{data.image.url}}" class="card-img-top" alt="..." style="height: 150px; width: 200px;">
      <div class="card-body">
        <h5 class="card-title" style="width: auto;">{{data.name}}</h5>
        <p class="card-text">{{data.price}}.</p>
        <p class="card-text">{{data.desc}}.</p>
        
      </div>
    </div></div></a>
    <a href=""><form action="" method="POST">
      <div>add to cart</div>
    </form></a>
    
  </div>
 

  <div class="mt-2">
    <form action="" method="POST">{% csrf_token %}
      <input type="text" name="review" placeholder="post your review">
      <input type="submit" value="post">
    </form>
  </div >
  <div class="mt-2">

    {% for i in obj  %}
    @{{user}}:-

    <h5>{{i.review_body}}</h5>{{i.created|timesince}} ago
    <br>
      
    {% endfor %}
  </div>
{% endblock content %}

